/* whole body */
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: "Fira Sans", serif;
    font-style: normal;
    background-color: rgb(238, 241, 244);
}
/* shared styles */
.btn-typ1{
    font-family: "Fira Sans", serif;
    font-style: normal;
    background-color: rgb(238, 241, 244);
}
.btn-typ1:hover{
    font-family: "Fira Sans", serif;
    font-style: normal;
    background-color: #006A50;
    color: rgb(238, 241, 244);
}
.btn-typ2{
    font-family: "Fira Sans", serif;
    font-style: normal;
    background-color: #006A50;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    padding: 17px 34px 17px 34px;
}
.btn-typ2:hover{
    font-family: "Fira Sans", serif;
    font-style: normal;
    background-color:white;
    color:#006A50;
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
    padding: 17px 34px 17px 34px;
}
.btn-typ3{
    font-family: "Fira Sans", serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 600;
    padding: 11px 20px;
    border-radius: 8px;
    border: none;
    color: white;
}
/* header first section start */
.first-header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.first-header-container-title{
    font-weight: 700;
    font-size: 32px;
    padding: 31px 0px 31px 160px;
}
.first-header-container-nav{
   padding: 24px 160px 24px 0px;
}
.first-header-container-nav a>button{
    text-decoration: none;
    color:#006A50;
    font-size: 18px;
    font-weight: 600; 
    border-radius: 8px;
    padding: 15px 30px 15px 30px;
    border: 1px solid #006A50;
}
/* header first section close */
/* header 2nd section start */
.sec-header-containers{
    background-color: #C6E4D6;
    border-radius: 24px;
    margin: 0px 160px 80px 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
}
.sec-header-container-written{
    padding: 118px 0px 118px 60px;
}
.sec-header-container-written h4{
    font-size: 24px;
    font-weight: 500;
    color: rgba(14, 14, 14, 0.5);
    margin-bottom: 16px;
}
.sec-header-container-written h1{
    font-size: 56px;
    font-weight: bold;
    color: #0E0E0E;
    margin-bottom: 24px;
}
.sec-header-container-written a{
    text-decoration: none;
}
.sec-header-container-image{
    padding: 80px 60px 80px 0px;
}
/* header 2nd section close */
/* main 1st section start*/
.main-first-mom-container{
    margin: 0px 160px 80px;
}
.main-first-mom-container h1{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 32px;
}
.main-first-containers{
    display: flex;
    gap: 24px;
    justify-content: space-around;
}
.main-first-container{
    background-color: white;
    padding: 24px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
}
.main-first-container-img{
    margin-bottom: 24px;
}
.main-first-container-written h4{
    margin-bottom: 12px;
    color:rgba(14, 14, 14, 0.8);
}
.main-first-container-written p{
    color:rgba(14, 14, 14, 0.7);
}
/* main 1st section close*/
/* main 2nd section start */
.main-2nd-mom-container{
    margin: 0px 160px 80px;
}
.main-2nd-mom-container h1{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 24px;
}
.mom-descrip{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 32px;
}
.main-2nd-containers{
    display: flex;
    gap: 24px;
    margin-bottom: 32px;
    justify-content: space-around;
}
.main-2nd-container{
    padding: 32px;
}
.main-2nd-container-img{
    margin-bottom: 24px;
}
.main-2nd-container h4{
    margin-bottom: 12px;
    color: rgba(14, 14, 14, 0.8);
}
.main-2nd-container p{
    margin-bottom: 24px;
    color:rgba(14, 14, 14, 0.7);
}
#main-2nd-container-bg-1
{
    background-color: rgba(84, 144, 245, 0.2);
    border-radius: 16px;
}
#main-2nd-container-bg-2
{
    background-color: rgba(198, 228, 214, 1);
    border-radius: 16px;
}
#main-2nd-container-bg-3{
    background-color: rgba(247, 235, 207, 1);
    border-radius: 16px;
}
#btn-typ3-clr1{
    background-color:rgba(84, 144, 245, 1) ;
}
#btn-typ3-clr1:hover{
    background-color:rgb(0, 46, 120) ;
}
#btn-typ3-clr2{ 
    background-color: rgba(9, 161, 92, 1); 
}
#btn-typ3-clr2:hover{ 
    background-color: rgb(5, 78, 45); 
}
#btn-typ3-clr3{
    background-color: rgba(255, 194, 57, 1);
}
#btn-typ3-clr3:hover{
    background-color: rgb(206, 144, 0);
}
.dr-yunus{
    background-color: white;  
    border-radius: 16px;
}
.dr-yunus-core{
    background-image: url('../assets/quote-bg.png');
    background-position: 24px 24px;
    background-repeat: no-repeat;
    padding: 48px 24px;
}
.dr-yunus-speech{
    font-size:16px ;
    color: rgba(14, 14, 14, 0.8);
    margin-bottom: 12px;
}
.dr-yunus-core h4{
    font-size: 20px;
    font-weight: 600;
    color: rgba(14, 14, 14, 0.8);
}
.dr-yunus-tags{
    color: rgba(14, 14, 14, 0.6);
    font-size: 16px;
}
/* main 2nd section close */

/* main 3rd section start */
.third-mom-container{
    margin: 0px 160px 80px;
}
.third-mom-container h1{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
}
.third-container-body{
    background-color: white;
    padding: 32px;
    border-radius: 16px;
}
table{
    border-collapse: collapse;
    justify-content: center;
    align-items: center;
    width:100%;
}
thead{
    background-color: rgba(198, 228, 214, 1);
} 
td{
    border: 1px solid rgba(14, 14, 14, 0.15);
}
.two-thead{
    padding: 24px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 600;
    color: rgba(14, 14, 14, 1);
}
tbody td{
    font-size: 16px;
    font-weight: 600;
    padding: 36px 24px 36px 24px;
}
select{
    padding: 12px 16px 12px 16px;
    background-color: rgba(198, 228, 214, 1);
}
/* 3rd section close */
/* news section start */
.news-btn{
    font-family: "Fira Sans", serif;
    font-style: normal;
    border: none;
    background-color:rgba(0, 106, 80, 1) ;
    border-radius: 8px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding: 13px 26px;
}
.news-btn:hover{
    font-family: "Fira Sans", serif;
    font-style: normal;
    border: none;
    background-color: rgb(197, 241, 213);
    border-radius: 8px;
    color: rgba(0, 106, 80, 1);
    font-size: 18px;
    font-weight: 600;
    padding: 13px 26px;
}
.main-section-no4-mom-container{
    margin: 0px 160px 80px; 
}
.news-descript{
    font-size:16px ;
    color: rgba(14, 14, 14, 0.7);
}
.mom-cont-p{
    margin-bottom: 32px;
}
.main-section-no4-mom-container h1{
    font-size: 40px;
    font-weight: bold;
    color: rgba(14, 14, 14, 1);
    margin-bottom: 24px;
}
.news-container{
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 24px;
    padding: 48px;
    gap: 32px;
    margin-bottom: 24px;
    justify-content: space-between;
}
.donate-mom-container h1{
    font-size: 40px;
    font-weight: bold;
    color: rgba(14, 14, 14, 1);
    margin-bottom: 24px;
}
.news-container h2{
    font-size: 32px;
    font-weight: 700;
    color: rgba(14, 14, 14, 0.8);
    margin-bottom: 12px;
}
.news-images img{
    border-radius: 24px;
}
/* news section close */
/* Donate section start */
.donate-mom-container{
    margin: 0px 160px 80px;
    text-align: center;
}
.donate-btns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.donate-btn{
    font-family: "Fira Sans", serif;
    font-style: normal;
    text-decoration: none;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background-color: white;
    padding: 40px;
    font-size: 40px;
    font-weight: 700;
    color: rgba(14, 14, 14, 0.8);
    border-radius: 16px;
}
.donate-btn:hover{
    font-family: "Fira Sans", serif;
    font-style: normal;
    text-decoration: none;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background-color: rgba(198, 228, 214, 1);
    padding: 40px;
    font-size: 40px;
    font-weight: 700;
    color: rgba(14, 14, 14, 0.8);
    border-radius: 16px;
}
.text-area{
    margin-top: 32px;
    padding: 20px 40px;
    width: 900px;
    border: none;
    text-align: center;
    margin-bottom: 32px;
}
.done-now-btn{
    font-family: "Fira Sans", serif;
    font-style: normal;
    background-color: rgba(0, 106, 80, 1);
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding: 17px 34px;
    border: none;
    border-radius: 8px;
}
.done-now-btn:hover{
    font-family: "Fira Sans", serif;
    font-style: normal;
    background-color: rgb(169, 238, 214);
    color: rgba(0, 106, 80, 1);
    font-size: 18px;
    font-weight: 600;
    padding: 17px 34px;
    border: none;
    border-radius: 8px;
}
/* Donate section close */
/* Subscribe Newsletter start */
.subscribe-mom-container{
    margin: 0px 160px 80px;
    background-color: rgba(198, 228, 214, 1);
    border-radius: 24px;
    text-align: center;
    padding: 80px 265px;
}
.subscribe-mom-container h1{
    font-size: 40px;
    font-weight: bold;
    color: rgba(14, 14, 14, 1);
    margin-bottom: 24px;
}
.sub-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}
.sub-bar-email{
    font-family: "Fira Sans", serif;
    font-style: normal;
    padding: 18px 40px;
    width: 600px;
    border: none;
    border-radius: 8px 0px 0px 8px;
}
.sub-bar-btn{
    font-family: "Fira Sans", serif;
    font-style: normal;
    padding: 15px 34px;
    background-color: rgba(0, 106, 80, 1);
    border: none;
    border-radius: 0px 8px 8px 0px;
    font-size: 18px;
    font-weight: 600;
    color: white;
}
.sub-bar-btn:hover{
    font-family: "Fira Sans", serif;
    font-style: normal;
    padding: 15px 34px;
    background-color:rgb(182, 255, 191);
    border: none;
    border-radius: 0px 8px 8px 0px;
    font-size: 18px;
    font-weight: 600;
    color: rgba(0, 106, 80, 1);
}
/* Subscribe Newsletter close */